$primary-color:#143f45;
$secondary-color:#C9A887;
$tertiary-color:#F2D2B2;

// $font-weights:(
//     "extralight":300,
//     "regular":400,
//     "semibold":500,
//     "blackbold":700,
//     "extrabold":800,
// );